<div class="container mt-4">
  <div class="card card-shadow">
    <div class="card-header">
      <h3>Administración de Productos</h3>
    </div>
    <div class="card-body">
      <!-- Formulario para agregar o actualizar productos -->
      <form (ngSubmit)="onSubmit()" #productoForm="ngForm">
        <div class="form-group row">
          <div class="col-6">
            <label for="nombre">Nombre del Producto</label>
            <input
              type="text"
              id="nombre"
              class="form-control"
              [(ngModel)]="selectedProducto.nombre"
              name="nombre"
              required
              #nombreInput="ngModel"
              minlength="3"
            />
            <div *ngIf="nombreInput.invalid && nombreInput.touched" class="text-danger">
              <div *ngIf="nombreInput.errors?.['required']">El nombre es obligatorio.</div>
              <div *ngIf="nombreInput.errors?.['minlength']">El nombre debe tener al menos 3 caracteres.</div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary mt-2" [disabled]="productoForm.invalid">
          {{ selectedProducto.idProducto ? 'Actualizar' : 'Agregar' }} Producto
        </button>
        <button
          type="button"
          class="btn btn-secondary mt-2 ml-2"
          *ngIf="selectedProducto.idProducto"
          (click)="resetForm()"
        >
          Cancelar
        </button>
      </form>
    </div>
  </div>

  <div class="card mt-4">
    <div class="card-header">
      <h4>Lista de Productos</h4>
    </div>
    <div class="card-body">
      <!-- Tabla para listar productos -->
      <div class="row">
        <div class="col-6 mb-3 form-group">
          <input type="text" class="form-control" placeholder="Buscar por nombre" [(ngModel)]="filterTerm" />
        </div>
        <div class="col-1 mb-3 form-group">
          <button class="btn btn-primary" (click)="clearFilter()">Limpiar</button>
        </div>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of filteredProductos | paginate: { itemsPerPage: 5, currentPage: p }">
            <td>{{ producto.idProducto }}</td>
            <td>{{ producto.nombre }}</td>
            <td>
              <button class="btn btn-sm btn-warning" (click)="editProducto(producto)">
                Editar
              </button>
              <button class="btn btn-sm btn-danger" (click)="deleteProducto(producto.idProducto)">
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>
